[Unit] 
Description=Shadowsocks Servier 
After=network.target
 
[Service] 
Type=forking
ExecStart=/usr/bin/sslocal -c /etc/shadowsocks/config.json 
Restart=on-abort
IgnoreSIGPIPE=no 
StandardOutput=syslog 
StandardError=inherit

[Install]
WantedBy=multi-user.target
